body{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 200;
}

header {
    text-align: center;
}


.detail {
    text-align: center;
    .term {
        display: inline;
        margin: 30px;
        font-size: 150%;
    }

    .value {
        font-size: 200%;
        float: right;
        .contributed{
            color:green;
        }
        .not-contributed {
            color: red;
        }
    }

    .navbar {
        margin-top: 70px;
        
        a {
            margin: 10px;
            user-select: none;
            text-decoration: none;
            color: #333;

            &:hover{
                text-decoration:underline;
            }
        }
    }
}
