body{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 200;
}

header {
    text-align: center;
}


.detail {
    text-align: center;
    .summary {
        margin: 20px;
        .term {
            display: inline;
            margin: 30px;
            font-size: 150%;
        }
        
        .value {
            .mark{
                font-size: 200%;
            }
            .number{
                margin: 3px;
            }
            float: right;
            .contributed{
                color:green;
            }
            .not-contributed {
                color: red;
            }
        }
    }

    .navbar {
        margin-top: 30px;
        
        a {
            margin: 10px;
            user-select: none;
            text-decoration: none;
            color: #333;

            &:hover{
                text-decoration:underline;
            }
        }
    }
}
