$side-menu-width: 50px;

.activation{
    --y-label-width: 200px;
    --x-label-height: 160px;
    
    > div.main {
        .upper-container{
            overflow-y: scroll;
            direction:rtl;
            height: 500px;
            .upper {
                direction:ltr;
                height: 100%;
                position: relative;
                .y-label {
                    font-size: 80%;
                    position: absolute;
                    margin: 0 20px;
                    top: 0;
                    grid-row: 1;
                    grid-column: 1;
                    width: var(--y-label-width);
                    
                    > div {
                        position: absolute;
                    }
                }

            
                >svg {
                    position: absolute;
                    left: var(--y-label-width);
                    grid-row: 1;
                    grid-column: 2;
                    width: calc(100% - var(--y-label-width));
                    height: 100%;
                
                    .gt.cell {
                        stroke-width:3;
                        fill: none;
                        &.positive{
                            stroke:#0f0;
                        }
                        &.negative{
                            stroke:#f00;
                        }
                    }
                }
            }
        }

        .lower {
            height: var(--x-label-height);
            position: relative;
            width: calc(100% - 12px);
            .x-label {
                position: absolute;
                height: 100%;
                left: var(--y-label-width);
                width: calc(100% - var(--y-label-width));
                >div {
                    position: absolute;
        
                    >span {
                        text-align: right;
                        display: block ruby;
                        transform: rotate(-50deg);
                        transform-origin: right;
                    }
                }
            }
        }
    }

    .layer-control {
        user-select: none;
        margin: 0 20%;
    }
}