.bar {
    height: 20px;

    div {
        height: 100%;
        display: inline-block;
    }

    .positive {
        background: #afa;
    }
    .negative {
        background: #faa;
    }
    .na {
        background: #aaa;
    }
}
