.tree-container {
    float: left;
    width: 100%;
}
.tree-container > div {
    float: left;
}

.gt-container {
    float: left;
    width: 100%;
}
.gt-container > div {
    float: left;
}


#selector {
    float: left;
    width: 100%;
    margin-bottom: -10px;
}

.tree-container .katex{
    font-size: 2.5em !important;
    margin: 70px 30px;
    display: block;
}
#rule-name {
    margin-top: 30px;
    font-size: 1.5em;
    text-align: center;
}

#gt-rule-name {
    margin-top: 30px;
    font-size: 1.5em;
    text-align: center;
}

#prediction-heat .katex {
    margin: 0;
    font-size: 0.9em
}

#prediction-heat {
    margin-top: 20px;
    height: 700px;
    width: 1700px;
}

#prediction-heat.activation-dash .y-label>div {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
}
